.cameraIcon {
  margin-left: auto;
  height: 50px;
  background-color: #ffa91ea8;
  justify-content: center;
  position: absolute;
  top: 84px;
  align-items: center;
  left: 150px;
  border-radius: 155553px;
  width: 51px;
  display: flex;
}

.cameraIcon:hover {
  background-color: #c5580fa8;
}
