.dropdown {
  background-color: #fff;
  border: 2px solid #f0a400;
  padding: 1em;
  border-radius: 0.5em;
}
// .scrollbar {
//   -ms-overflow-style: none; /* Internet Explorer 10+ */
//   scrollbar-width: none; /* Firefox */
// }
// .scrollbar::-webkit-scrollbar {
//   display: none; /* Safari and Chrome */
// }
.highlighteDropdown {
  background-color: yellow; /* Change this to the desired highlight color */
  border: 1px solid black; /* Add any other styling as needed */
}
